body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme--dark {
  background-image: url("./img/dark-theme.jpg");
}

.theme--dark .label {
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  align-self: flex-start;
}

.theme--light {
  background-image: url("./img/light-theme.jpg");
}

.theme .login-form-wrapper {
  max-width: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
